.bodyistila{
    display: flex;
    height: 44vw;
    margin: 0;
}
.istilasohbet{
    flex: 4.5;
    height: 100%;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
}
.istilasoru{
    flex: 7.5;
    display: flex;
    flex-direction: column;
}
.istilasorutop{
    flex: 11;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid black;
}
.istilasorubottom{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 1%;
    align-items: center;
    padding: 0.7%;
}
.sorucard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-size: 12px;
}
.sorucard h1 {
    margin-bottom: 30px;
}
.sorutext {
    margin-bottom: 30px;
    line-height: 1.5em;
    width: 100%;
}
.answer {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 10px;
}
.answer:hover,
.answer.active {
    border: 1px solid black;
    padding: 10px;
    border-left: 6px double black;
}
.answer.correct {
    border: 3px solid green;
    border-left: 6px double green;
}
.answer.wrong {
    border: 3px solid red;
    border-left: 6px double red;
}
.zorluk-btn {
    display: inline-block;
    width: 10em;
    height: 75%;
    border: 2px solid black;
    background-color: transparent;
    color: #000000;
    font-size: 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
.zorluk-btn:hover {
    background-color: #141414;
    color: #F7F6F1;
  }