.profilcard {
  flex: 1.2;
  display: flex;
  justify-content: flex-start;
  gap: 8%;
  align-items: center;
  padding-left: 10%;
}
.level-icon {
  transform: rotate(90deg);
  font-size: 32px;
}
.istila-profimage{
  width: 10%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  object-fit: cover;
}
