.panotitle{
    display: flex;
    justify-content: flex-start;
    margin-left: 4%;
    width: 40%;
    position: relative;
}

hr {
    background-color: #F7F6F1;
    transform: rotate(270deg);
    margin-left: -4%;
    margin-right: 10%;
    width: 1%;
}
/* .panotitle h1 {
    margin-left: -44%;
} */