.testpart {
  display: flex;
}
.leftcontainer {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5%;
  gap: 17vw;
  border-right: 1px solid black;
  margin-bottom: 5%;
}

.rightcontainer {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13vw;
  padding-top: 25%;
  margin-bottom: 5%;
}

.sorucardleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 15%;
  font-size: 12px;
  position: relative;
}

.sorucardleft img,
.sorucardright img {
  width: 100%;
  height: auto;
}
.circle-outer-left {
  width: 30px;
  height: 30px;
  background-color: #f7f6f1;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  right: -2%;
}
.circle-inner-left {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 25%;
}
.timelineleft-left {
  width: 1px;
  height: 50px;
  background-color: black;
  position: absolute;
  transform: rotate(90deg);
  top: -30%;
  left: -20%;
}
.minutes-left {
  position: absolute;
  top: -12%;
  left: -100%;
}
.second-left {
  position: absolute;
  top: 60%;
  left: -90%;
}
.sorucardleft-btns{
    position: absolute;
    top: 50%;
    right: -2%;
    text-align: center;
}
.referencepointleft{
    position: relative;
}
.sorufav-btn-left-outer{
    width: 30px;
    height: 30px;
    z-index: 3;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: -3.5vw;
    right: -3.5vw; 
}
.canvas-btn-left-outer{
    width: 30px;
    height: 30px;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: -7vw; 
}
.godownpanel-left-outer{
    width: 30px;
    height: 30px;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 3.5vw;
    right: -3.5vw; 
}
.sorufav-btn-left-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    right: 25%;
}
.canvas-btn-left-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    right: 25%;
}
.godownpanel-left-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    right: 25%;
}
.sorucardright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  font-size: 12px;
  padding-left: 20%;
  position: relative;
}

.circle-outer-right {
  width: 30px;
  height: 30px;
  background-color: #f7f6f1;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: -2%;
}
.circle-inner-right {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 25%;
}
.timelineleft-right {
  width: 1px;
  height: 50px;
  background-color: black;
  position: absolute;
  transform: rotate(90deg);
  top: -38%;
  right: -25%;
}
.minutes-right {
  position: absolute;
  top: -12%;
  right: -100%;
}
.second-right {
  position: absolute;
  top: 60%;
  right: -90%;
}
.sorucardright-btns{
    position: absolute;
    top: 50%;
     left: -2%;
    text-align: center;
}
.referencepointright{
    position: relative;
}
.sorufav-btn-right-outer{
    width: 30px;
    height: 30px;
    z-index: 3;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: -3.5vw;
    left: -3.5vw; 
}
.canvas-btn-right-outer{
    width: 30px;
    height: 30px;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: -7vw; 
}
.godownpanel-right-outer{
    width: 30px;
    height: 30px;
    background-color: #f7f6f1;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 3.5vw;
    left: -3.5vw; 
}
.sorufav-btn-right-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    left: 25%;
}
.canvas-btn-right-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    left: 25%;
}
.godownpanel-right-inner{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    left: 25%;
}



.line-result {
  border-top: 2px solid black;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.circle-outer-result {
  width: 30px;
  height: 30px;
  background-color: #f7f6f1;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  margin-top: -50%;
}
.black-circle {
  background-color: #0d0d0d;
}
.circle-inner-result {
  width: 15px;
  height: 15px;
  background-color: #0d0d0d;
  border-radius: 50%;
  position: absolute;
  top: 24%;
  left: 25%;
}
.circle-question-number {
  position: absolute;
  top: 100%;
  left: 22%;
  font-size: 28px;
}
.deneme-bitir-btn {
  width: 13%;
  height: 2.5vw;
  font-size: 16px;
  border: 2px solid black;
  border-left: 3px double black;
  border-right: 3px double black;
  background-color: transparent;
  margin: 5%;
  margin-left: 46%;
}

.result-cards-deneme {
  display: flex;
  margin-top: 10%;
  margin-bottom: 30%;
}
.result-card-sozel {
  flex: 3;
  position: relative;
  height: 10vw;
}
.pop-up-deneme-sozel {
  position: absolute;
  top: 55%;
  left: 20%;
  background-color: #0d0d0d;
  width: 16em;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0d0d0d;
  border-color: #f7f6f1;
  font-weight: lighter;
}
.pop-uptop-deneme-sozel {
  flex: 5;
  margin: 5px;
  border-top: 2px solid white;
  position: relative;
}
.pop-uptop-deneme-sozel::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 98%;
  height: 5%;
  border-right: 1px solid white;
}
.pop-uptop-deneme-sozel::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 98%;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-sozel {
  flex: 7;
  margin: 5px;
  border-bottom: 2px solid white;
  position: relative;
}
.pop-upbottom-deneme-sozel::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  left: 0;
  bottom: 0;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-sozel::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  right: 0;
  bottom: 1%;
  height: 5%;
  border-right: 1px solid white;
}
.result-card-main {
  flex: 6;
  position: relative;
}
.pop-up-deneme-main {
  position: absolute;
  top: 23%;
  left: 5%;
  background-color: #0d0d0d;
  width: 44em;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0d0d0d;
  border-color: #f7f6f1;
  font-weight: lighter;
}
.pop-uptop-deneme-main {
  flex: 5;
  margin: 5px;
  border-top: 2px solid white;
  position: relative;
}
.pop-uptop-deneme-main::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 98%;
  height: 5%;
  border-right: 1px solid white;
}
.pop-uptop-deneme-main::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 98%;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-main {
  flex: 7;
  margin: 5px;
  border-bottom: 2px solid white;
  position: relative;
}
.pop-upbottom-deneme-main::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  left: 0;
  bottom: 0;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-main::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  right: 0;
  bottom: 1%;
  height: 5%;
  border-right: 1px solid white;
}
.result-card-sayisal {
  flex: 3;
  position: relative;
}
.pop-up-deneme-sayisal {
  position: absolute;
  top: 55%;
  left: 10%;
  background-color: #0d0d0d;
  width: 16em;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0d0d0d;
  border-color: #f7f6f1;
  font-weight: lighter;
}
.pop-uptop-deneme-sayisal {
  flex: 5;
  margin: 5px;
  border-top: 2px solid white;
  position: relative;
}
.pop-uptop-deneme-sayisal::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 98%;
  height: 5%;
  border-right: 1px solid white;
}
.pop-uptop-deneme-sayisal::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 98%;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-sayisal {
  flex: 7;
  margin: 5px;
  border-bottom: 2px solid white;
  position: relative;
}
.pop-upbottom-deneme-sayisal::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  left: 0;
  bottom: 0;
  height: 5%;
  border-left: 1px solid white;
}
.pop-upbottom-deneme-sayisal::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 95%;
  right: 0;
  bottom: 1%;
  height: 5%;
  border-right: 1px solid white;
}

/* .circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}
.circle:nth-child(1) {
    left: 10%;
}
.circle:nth-child(2) {
    left: 18%;
}
.circle:nth-child(3) {
    left: 26%;
}
.circle:nth-child(4) {
    left: 34%;
}
.circle:nth-child(5) {
    left: 42%;
}
.circle:nth-child(6) {
    left: 50%;
}
.circle:nth-child(7) {
    left: 58%;
}
.circle:nth-child(8) {
    left: 66%;
}
.circle:nth-child(9) {
    left: 74%;
}
.circle:nth-child(10) {
    left: 82%;
} */
